terraform {
  backend "azurerm" {
    # resource_group_name        = "shared"
    # storage_account_name       = "tfstate"
    container_name             = "serviceconnections" 
    key                        = "terraform.tfstate"
    use_azuread_auth           = true
  }
}
